@use "components/base" as base;
@use "./colors/colors" as colors;
@use "components/navbar";
@use "components/login";
@use "components/signup";

.container {
  // padding: 0 2rem;
  // width: 100%;
  // height: 100vh;
  p{
    color: base.$fg_color;
  }
  // background-image: url("../assets/images/home_wave.svg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: colors.$bg_dark;
  // filter: blur();
  position: relative;
  // &::before{
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
    width: 100%;
    height: 100vh;
    // transform: translate(-50%, -50%);
    // background-image: url("../assets/images/home_wave.svg");
    background-image: url("../assets/images/blob-scene-haikei_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: colors.$bg_dark;
    // z-index: 1;
  // filter: blur(2px);
  // }
    &::before{
    content: "";
    position: absolute;
    background-image: url("../assets/images/corner_chip_svg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    // z-index: -1;
    width: 100%;
    height: 100%;

  }
}
.wrapper{
  width: 800px;
  height: 800px;
  transform: translateX(-10%);
  // background-color: rgb(149, 108, 247);
  // background-image: url("../assets/images/concept_edu_png.png");
  background-image: url("../assets/images/Relax__Alina_Makarenko_png.png");
  // background-image: url("../assets/images/blob-scene-haikei_bg.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;

}
